.hoverText {
  transition:
    0.35s font-weight,
    0.35s color;
}

.hoverText:hover {
  font-weight: 900;
  color: oklch(59.2% 0.249 0.584);
}

/* To the right */
.hoverText:hover + .hoverText {
  font-weight: 500;
  color: oklch(65.6% 0.241 354.308);
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 300;
  color: oklch(82.3% 0.12 346.018);
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
  font-weight: 500;
  color: oklch(65.6% 0.241 354.308);
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 300;
  color: oklch(82.3% 0.12 346.018);
}