@reference "tailwindcss";

// sizes

.small {
	@apply text-lg rounded-lg px-6 py-3
		max-h-3 max-[580px]:text-[0.6rem]
		max-[580px]:py-2
		max-[580px]:px-3;
}

.test {
	color: red;
}

.medium {
	@apply text-lg rounded-xl
		px-[0.563rem] h-fit;
}

.large {
	@apply text-xl rounded-3xl px-[1.375rem] py-2.5
		max-[1055px]:text-2xl
		max-[1055px]:rounded-2xl
		max-[1055px]:px-[0.938rem]
		max-[1055px]:py-1;
}


// colors

.white {
	@apply text-black bg-white;
}

.blue {
	@apply text-white bg-blue rounded-xl
		hover:bg-blue/50 hover:text-white/50
		active:scale-97 active:rotate-1
		transition-all duration-300;
}

.gray_ghost {
	@apply text-white bg-transparent
		backdrop-blur-2xl border-2
		border-gray-700 px-0 py-0;
}

.blue_ghost {
	@apply text-blue rounded-md
		bg-transparent border-1
		border-blue px-2;
}

.red_ghost {
	@apply border-1 text-xl;
}

// icons

.icon {
	@apply flex items-center
		justify-center gap-[3px];
}

.basket {
	@apply active:border-green-500;
}

.arrow {
	@apply hidden rotate-180 max-[710px]:block;
}