@reference "tailwindcss";

// sizes

.default {
	@apply cursor-pointer h-fit w-fit
		transition-all duration-300 ease-in-out;
}

.small {
	@apply text-base rounded-xl
		px-3 py-0.75 leading-none;
}

.medium {
	@apply text-xl rounded-2xl
		px-[0.563rem] py-1.5;
}

.large {
	@apply text-2xl rounded-2xl
		px-4 py-2;
}


// colors

.white {
	@apply text-black bg-white;
}

.blue {
	@apply text-white rounded-xl
		hover:text-white/50
		active:scale-97 active:rotate-1
		transition-all duration-300;
}

.gray_ghost {
	@apply text-white bg-transparent
		backdrop-blur-2xl border-2
		border-gray-700;
}

.blue_ghost {
	@apply rounded-md
		bg-transparent border-1 px-2;
}

.red_ghost {
	@apply border-1 text-xl;
}

// icons

.icon {
	@apply flex items-center
		justify-center gap-[3px];
}

.basket {
	@apply active:border-green-500;
}

.arrow {
	@apply hidden rotate-180 max-[710px]:block;
}